<div class="about-section">
  <h1>About Us Shop</h1>
  <p>This is a final project of the subject Zaawansowany system baz danych Oracle.</p>
  <p>25.01.2022</p>
</div>

<h2 style="text-align:center">Our Team</h2>

  <section class="container">
    <div class="card">
        <h2>Sebastian Jabłoński</h2>
        <p class="title">Developer</p>
        <p>Web and mobile developer.</p>
        <p>sj@gmail.com</p>
        <p><button class="button">Contact</button></p>
    </div>

    <div class="card">
      <h2>Adam Kamiński</h2>
      <p class="title">Developer</p>
      <p>Project manager</p>
      <p>ak@gmail.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </section>
